# Google OAuth Client ID
# Obtain from Google Cloud Console -> APIs & Services -> Credentials -> OAuth 2.0 Client IDs
# Make sure to add Authorized JavaScript Origins: http://localhost:5173
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE.apps.googleusercontent.com
